:root {
  font-size: 12px;
  /* Set Design Standard Variables: */
  --main-bg-color: rgb(240, 240, 240);
  --second-bg-color: rgb(120, 161, 221);
  --item-bg-color: #0000ff2e;
  --std-border-radius: 0.2em;
  --std-box-shadow:0px 0px 4px  #cdcdcd;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--second-bg-color) !important;
    margin: 0 1em !important;
    
  }
  
  body .content {
    background-color: white;
    border-radius: var(--std-border-radius);
    padding: 2em;
  }

  h1  {
    text-align: center;
    padding: 1em 0;
  }

  section {
    margin: 50px 0;
    padding: 50px;
    background-color: var(--main-bg-color);
  }

  /* Style the header */
  header {
    text-align: center;
    font-size: 1.2em;
    margin: 1em 0;
  }

  
  header nav {
    padding: 0.8em 0 0 0;
    border-radius: var(--std-border-radius);
  }
  
  /* Style the list inside the menu */
  header nav ul {
    list-style-type: none;
    padding: 0;
  }

  header nav ul li {
    margin:0; 
    padding: 0 0.2em;
    /* border-right: 1px solid white; */
    color: white !important;
   
  }

  header nav ul li a {
    color: white !important;
    border: 1px solid transparent;
    border-right: 1px solid white;
    transition: border 0.2s ease-in-out;
  }

   header nav ul li a:hover {
     border: 1px solid white;
     border-radius: var(--std-border-radius);
   }
  
  header nav ul{
      float: left;
      list-style-type: none;
      padding: 0m;
    }

    .calendar {
      margin-top: 2em;
      padding: 1em;
      border-radius: var(--std-border-radius);
      border: 0.1em solid lightgray; 
  }

  /* --- Formular Design ---*/
  form {
    border: 1px solid lightgray;
    border-radius: var(--std-border-radius);
    background: var(--item-bg-color);
    box-shadow: var(--std-box-shadow);
    padding: 1em;
}

form .result div {
  border: 2px solid red;
  background: white;
  display: inline-block;
  width: 60%;
  border-radius: 5px;
  color: inherit;
  margin: 0 20% 1em;
  padding: 1em;
  text-align: center;
  font-weight: 600;
  transition:  1s ease-in-out;
}

form .result div ol {
  margin-bottom: 0;
  padding: 0px 8px 0 16px;
}

form .form-check-inline {
  height: 28px;
}

/* im Termine Anlegen Formular gibt es ein Vestecktes Feld deren Value in die Datenbank gespeichert wird.
   dieses Feld soll nicht sichtbar sein */
form div#skilehrerid {
  height: 0;
  color: transparent;
}

form .liveSearchResultStyle {
  background: white;
  border-radius: 5px;
  max-height: 80px;
  overflow: auto;
}
form .liveSearchResultStyle option {
  padding: 0 .75rem;
}
form .liveSearchResultStyle option:first-child {
  padding-top: .375rem;
}
form .liveSearchResultStyle option:last-child {
    padding-bottom: .375rem;
}

form .liveSearchResultStyle p {
  padding: .375rem  .75rem;
  margin-bottom: 0;
}


  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color:var(--second-bg-color);
    padding: 1em;
    text-align: center;
    color: white;
  }
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 1100px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
