:root {
  font-size: 12px;
  font-family: 'Catamaran', sans-serif;
  color: white !important;
  /* Set Design Standard Variables: */
  --main-bg-color: rgb(240, 240, 240);
  --std-dark-blue: #000046;
  --second-bg-color: rgb(120, 161, 221);
  --item-bg-color: #0000ff2e;
  --bg-gradien-color-1: var(--std-dark-blue);
  --font-dark: var(--std-dark-blue);
  --btn-dark: var(--std-dark-blue);
  --bg-gradien-color-2: #1cb5e0;
  --std-border-radius: 0.2em;
  --std-box-shadow: 0px 0px 4px #cdcdcd;
  --form-bg-green: rgba(43, 197, 56, 0.5);
  --form-bg-pink: rgba(193, 0, 93, 0.55);
  --form-bg-blue: rgba(0, 0, 70, 0.70);
  --bg-white: rgba(255, 255, 255, 0.562);
  --form-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  --form-backdrop-filter: blur(4px);
  --form-border: 1px solid rgba(255, 255, 255, 0.18);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0 1em !important;
  color: white !important;
}

body.home {
  background: url(/Homepage/images/arlberg-mountains.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body:not(.home) {
  background: linear-gradient(217deg, #1cb5e0, #000046);
  background-image: url("images/bg-pattern-all-small.svg"),
    linear-gradient(217deg, #1cb5e0, #000046);
}

body .content {
  border-radius: var(--std-border-radius);
}

h1 {
  text-align: center;
  margin: 0 0 0.6em;
}

/* ---  Top Row  --- */

.top-row {
  padding: 3rem 0;
  text-align: center;
}

.top-row .btn i {
  font-size: 2.5rem;
  color: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: var(--form-border);
  padding:0.2em;
  border-radius: 5px;
  transition: font-size .15s ease-in-out;
}

.top-row .btn:hover {
  background-color: transparent;
}

.top-row .btn:hover i {
  font-size: 2.35em;
}

.btn.btn-mitarbeiter {
  float: left;
  padding-left: 0;}

.btn.btn-mitarbeiter a {
  padding-left: 0;
}
.btn.btn-logout {
  float: right;
  padding-right: 0;}

.btn.btn-logout a {
  padding-right: 0;
}

.btn.btn-logout.btn-logout-skilehrer {
  position: absolute;
  top: 0em;
  right: 2em;
}

/* --- Calendar Design ---*/

.calendar {
  border-radius: var(--std-border-radius);
  padding: 2em;
  background: var(--bg-white);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: var(--form-border);
  color: var(--std-dark-blue);
  font-weight: 500;
}


.calendar a {
  color: var(--std-dark-blue);
  font-weight: 500;
}

.calendar .time-sch-button {
  padding: 0 0.5em;
}

.calendar .time-sch-header-0-date-even {
  background-color: transparent;
}

.calendar .time-sch-wrapper .time-sch-header-1-current-time {
  background-color:  rgba(120, 161, 221, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.calendar .time-sch-wrapper th, 
.calendar .time-sch-wrapper td {
  border-top-color: white;
  border-bottom-color: white;
  border-left-color: white;
  border-right-color: white;
}

.calendar .time-sch-section-wrapper {
  border: var(--form-border) !important;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.calendar .time-sch-section-wrapper .item-status-none {
  background: rgba(43, 197, 56, 0.7);
}
.calendar .time-sch-section-wrapper .item-status-one {
  background: rgba(193, 0, 93, 0.7);
}
.calendar .time-sch-section-wrapper .item-status-two {
  background: var(--form-bg-blue);
}

/* --- Kalender Ende---*/

/* --- Formular Design ---*/

.home form {
  position: absolute;
  padding: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background: var(--form-bg-pink);
  box-shadow: var(--form-box-shadow);
  backdrop-filter: var(--form-backdrop-filter);
  -webkit-backdrop-filter: var(--form-backdrop-filter);
}

.home form .help-block {
  color: white;
}

form {
  position: relative;
  border-radius: var(--std-border-radius);
  padding: 2em;
  background: rgba(255, 255, 255, 0.562);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: var(--form-border);
  margin-bottom: 30px;
}

form p, form h2 {
  color: #fff;
  text-align: center;
}

.form-group.row {
  margin-left: 0;
  margin-right: 0;
}

.form-group .col-sm-8.specialFieldFullWidth,
.form-group .col-form-label {
  padding: 0;
}

.form-group label.col-sm-4.col-form-label {
  padding-right: 5px;
}


input.btn {
  display: block;
  width: 160px;
  margin: 1em auto;
  border: none !important;
  color: white !important;
  font-size: 1em;
}

form input.form-control {
  background-color: transparent !important;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid white;
  box-shadow: none;
  color: white !important;
  font-weight: 500;
  font-size: 0.8em;
}
form .btn {
  background-color: rgba(17, 51, 108);
}
form .btn:hover {
  background-color: rgb(22, 64, 138);
}

form input.btn.btn-secondary {
  margin: 0.75em auto;
  font-size: 0.75em;
}

form .result div {
  border: 2px solid red;
  background: transparent;
  color: white;
  display: inline-block;
  width: 60%;
  border-radius: 5px;
  color: inherit;
  margin: 0 20% 1em;
  padding: 1em;
  text-align: center;
  font-weight: 500;
  transition: 1s ease-in-out;
}

form .result div ol {
  margin-bottom: 0;
  padding: 0px 8px 0 16px;
}

form .form-check-inline {
  height: 28px;
}

/* im Termine Anlegen Formular gibt es ein Vestecktes Feld deren Value in die Datenbank gespeichert wird.
    dieses Feld soll nicht sichtbar sein */
form div#skilehrerid {
  height: 0;
  color: transparent;
}

form .liveSearchResultStyle {
  background: var(--form-bg-green);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: var(--std-border-radius) !important;
  max-height: 80px;
  overflow: auto;
}
form .liveSearchResultStyle option {
  padding: 0 0.75rem;
}
form .liveSearchResultStyle option:first-child {
  padding-top: 0.375rem;
}
form .liveSearchResultStyle option:last-child {
  padding-bottom: 0.375rem;
}

form .liveSearchResultStyle p {
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
}

::placeholder {
  color: rgb(236, 235, 235) !important;
  font-weight: 500;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

textarea,
input[type="“text”"] {
  -webkit-appearance: none !important;
}

input:focus {
  background: var(--form-bg-green) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* Home Form Specific styles: */

.home form img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin: 1em auto;
  position: relative;
  display: block;
}

form .btn {
  display: block;
  width: 160px;
  margin: 1em auto;
  border: none !important;
}

.home .form-control {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid white;
  box-shadow: none;
  color: white !important;
  padding-left: 0px;
}
.home .btn {
  background-color: rgba(17, 51, 108);
}
.home .btn:hover {
  background-color: rgb(22, 64, 138);
}

.home input.btn.btn-secondary {
  margin: 0.75em auto;
  font-size: 0.75em;
}


/* --- session Forms --- */
.sessionForm .form-control {
  width: auto;
}

.sessionForm .form-group {
  position: relative;
  margin-bottom: 1em;
  display: flex;
}

.sessionForm .row {
  position: relative;
}

.sessionForm label.col-sm-4.col-form-label {
  padding-bottom: 7px;
}


/* ------------ Form Styling Ende ------------ */


/* Style the footer */
footer {
  background-color: var(--second-bg-color);
  padding: 1em;
  text-align: center;
  color: white;
}

/* ------------ Modal PopUp Box ------------ */

.modalbox {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background: var(--form-bg-blue);
  box-shadow: var(--form-box-shadow);
  backdrop-filter: var(--form-backdrop-filter);
  -webkit-backdrop-filter: var(--form-backdrop-filter);
}

.modalbox span.close {
  cursor: pointer;
  color: white;
  opacity: 0.9;
  font-weight: 400 !important;
  outline-style: solid;
  outline-width: thin;
  padding: 0 4px 1px 4px;
}

.modalbox form {
  background: transparent;
}

/* ------------ Modal PopUp Box Ende ------------ */

/* ------------ Skilehrer Termin Übersicht ------------ */

div#terminGrid {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--std-border-radius);
  padding: 2em;
  background: var(--bg-white);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: var(--form-border);
  color: var(--std-dark-blue);
  font-weight: 500;
  width: 300px;
}

#terminGrid section {
  border: 1px solid;
  margin-bottom: 1em;
  border-radius: 5px;
}

#terminGrid .divTop p {
  float: left;
  width: 50%;
}

.divTop {
  background: var(--form-bg-green);
  height: 3em;
}

#terminGrid section div  {
  padding: 1em;
}



/* ------------ Responsive ------------ */

/* layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 1100px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
